# All Python String Functions

In [4]:
# 1. capitalize()	Converts only first character to uppercase and remaing characters to lowercase
# str = '''hello, My name is John. and I want to learn Python.
#             and become a Software Engineer.'''
str1 = input("enter your name ")
print(str1.capitalize())

Kfj efe hblo lj eh

In [ ]:
# 2. casefold()	Converts string to lowercase (stronger than lower() because the lower has a limit range i.e english letters to convert lowerCase)
str = '''Hello, My name is John. And I want to learn Python.
            And become a software engineer.'''
print(str.casefold())

hello, my name is john. and i want to learn python.
            and become a software engineer.

In [5]:
# 3. center(width)	Returns a centered string
str = 'Python'
# print(str.center(20))
print(str.center(20))

       Python

In [6]:
# 4. count(sub)	Returns the number of times a substring occurs
str = '''Python is Awesome. I want to learn python.
            Python is used for in Ai, ML, web development '''
str.count('Python')

2

In [7]:
# 5. encode()	Returns an encoded version of the string
# for i in range(200,300): # for printing some characters
#     print(chr(i),end = " ")
# str = '''I want to become à data analyst''' # b before string means it is in byte format
str1 = '''I want to become ख data analyst'''
print(str1.encode(encoding= 'utf-8',errors= 'strict'))

b'I want to become \xe0\xa4\x96 data analyst'

In [8]:
# 6. endswith(suffix)	Returns True if the string ends with the specified value
str = '''Python is Awesome. I want to learn python.'''
print(str.endswith('awesome.',0,18))
# print(str[:18])

False

In [9]:
# startswith(prefix)	Returns True if string starts with the given prefix
str = '''Python is Awesome. I want to learn python.'''
print(str.startswith('Awesome',10,18))
# print(str[10:18])

True

In [ ]:
# 7. expandtabs(tabsize)	Replaces tab characters with spaces
str = '''Python is\tAwesome. I want to learn python.'''
print(str.expandtabs(8))

In [11]:
# 8. find(sub)	Returns the index of the first occurrence of a substring (returns -1 if not found)
str = '''Python Is Awesome. I want to learn Python.'''
x = str.find('want',10,len(str))
x

21

In [12]:
# 9. format()	Formats specified values in a string
str = '''John buy {0} books, {1:} copies, {2:c} pens from Stationary'''
print(str.format(1,-2,78))
# str1 = 'My name is {name}. i love play {game}'.format(name = 'john', game = 'footwall')
# print(str1)

John buy 1 books, -2 copies, N pens from Stationary

In [13]:
# 10. format_map(mapping)	Similar to format(), but uses a dictionary
str = 'My name is {name}. I love play {game}'
data = {'name':'John', 'game':'swimming'}
print(str.format_map(data))

My name is John. I love play swimming

In [ ]:
# 11. index(sub)	Like find(), but raises an error if not found
str = '''Python Is Awesome. I want to learn Python.'''
x = str.index('Python',10,len(str))
x

In [14]:
# 12. isalnum()	Returns True if all characters are alphanumeric
str = '37byjfhg35/'
x = str.isalnum()
x

False

In [ ]:
# 13. isalpha()	Returns True if all characters are alphabetic
str = 'john'
x = str.isalpha()
x

In [17]:
# 14.  isascii() Returns True if all characters are ASCII (American standard code for information interchange) range of ascii is 0-127
Str = '37byjfhg35/ `@#$%^&*()_+<>?:"{}|,."'
print(Str.isascii())

True

In [18]:
# 15 isdecimal() Returns True if all characters are decimals, devnagri  ० १ २ ३ ४ ५ ६ ७ ८ ९ but not support superscript and subscript,
                                # not include fraction, roman Numerals also
Str = '345786०२३४' 
print(Str.isdecimal())

True

In [ ]:
for i in range(2325,2362): # devnagri part of unicode . that is unicode decimal range is 2304 - 2431
    print(chr(i),end = " ")
print(chr(178),end = " ") # unicode for ² superscript and 
print(chr(8322),end = " ") # unicode for ₂ subscript

In [20]:
# 16 isdigit()	Returns True if all characters are digits, devnagri  ० १ २ ३ ४ ५ ६ ७ ८ ९ ,also support superscript and subscript
# Str = '345786०२३४²' 
print(Str.isdigit())
print("VII".isnumeric())

True
False

In [ ]:
# 19. isnumeric()	Returns True if all characters are numeric, devnagri  ० १ २ ३ ४ ५ ६ ७ ८ ९ ,also support superscript and subscript,                      
# num = '36465'
# print(num.isnumeric())

In [21]:
# 17 isidentifier()	Returns True if the string is a valid identifier
Str = 'yfjg_12' 
print(Str.isidentifier())
import keyword 
s = 'else'
print(keyword.iskeyword(s))

True
True

In [ ]:
# 18. islower()	Returns True if all characters are lowercase
str = 'i"m john. i live in india'
print(str.islower())

In [ ]:
# 20 isprintable()	Returns True if all characters are printable and return false in case \n,\t,\r,\b,\x07(bell character), range of 0-31 & 127 ascii value
str = 'john Rajput' # True
str = '' # True
str = 'john\x07Rajput'
str = 'john\nrajput'
print(str.isprintable())

In [ ]:
# 21. isspace()	Returns True if the string contains only whitespace
str = ' \t'
print(str.isspace())

In [ ]:
# 22 istitle()	Returns True if the string follows title case 
str = 'python Is Awesome. i want to learn Python. and become a data engineer'
titled_str = str.title() # return each word is titlecased.
print(titled_str)
print(titled_str.istitle())

Python Is Awesome. I Want To Learn Python. And Become A Data Engineer

In [ ]:
# 23 isupper()	Returns True if all characters are uppercase
str = 'python Is Awesome. i want to learn Python. and become a data engineer'
upper_str = str.upper()
print(upper_str.isupper())

In [25]:
# 24. join(iterable)	Joins elements of an iterable with the string as separator
List = ['Apple','Banana','Grapes','Mango','Orange']
x = '-'.join(List)
x = ', '.join(List)
print(x)
type(x)

Apple, Banana, Grapes, Mango, Orange

str

In [26]:
# 25.  ljust(width)	Returns a left-justified string
str = 'john'
x = str.ljust(12,'*')
x

'john********'

In [27]:
# 26.  rjust(width)	Returns a right-justified string
str = 'john'
x = str.rjust(12,'*')
x

'********john'

In [29]:
# 27. maketrans() Returns a translation table to be used in translate() character to character change
Str = 'Amit Kumar, Monu thakur, anjali thakur, rakhi kamari, rahul kumar, rajesh sharma, vinay thakur'
# translation_table = str.maketrans('kumar','yadav')
translation_table = str.maketrans('k','M','r')# the third parameter in mapping table describes characters that you want to remove the string
print(Str.translate(translation_table))

Amit Kuma, Monu thaMu, anjali thaMu, aMhi Mamai, ahul Muma, ajesh shama, vinay thaMu

In [33]:
# 28. partition(sep)	Splits the string into 3 parts: before, separator, after
str = 'hello john, how are you'
# x = str.partition(',') # if empty str is giving as parameter it throw error and if not found the parameter in str and 
x = str.partition('who')
print(x) #if separator is not found return whole string in first part and other next two part is empty

('hello john, how are you', '', '')

In [ ]:
# 29.  replace(old, new)	Replaces all occurrences of a substring
str = 'hello john, how are you john'
x = str.replace('john','bara') # default count is -1
x = str.replace('john','bara',count = 1) # here count is 1 so only one occurance is replaced
print(x)

In [ ]:
# 30.  rfind(sub)	Finds the last occurrence of a substring (return -1 if not found)
str = 'hello john, how are you john'
x = str.rfind('john')# 24 # start find from last
x = str.rfind('john',0,10) # 6
x

6

In [ ]:
# 31. rindex(sub)	Returns the last index of the substring (error if not found)
str = 'hello john, how are you john'
x = str.rindex('john')# 24 # start find from last
x = str.rindex('john',0,10) # 6
x

In [39]:
# 32. rpartition(sep)	Like partition(), but starts from the right
str = 'hello john, how are you'
print(str.rpartition('how'))
print(str.partition('how'))
print(str.rpartition('ram')) #if separator not found return whole string in third part and other first two part is empty

('hello john, ', 'how', ' are you')
('hello john, ', 'how', ' are you')
('', '', 'hello john, how are you')

In [40]:
# 33. split(sep)	Splits the string by a separator
str = 'hello john, how are you'
print(str.split(" "))
print(str.split(" ",maxsplit = 2))

# 34. rsplit(sep)	Splits the string from the right
print(str.rsplit(" "))
print(str.rsplit(" ", maxsplit=2))

['hello', 'john,', 'how', 'are', 'you']
['hello', 'john,', 'how are you']
['hello', 'john,', 'how', 'are', 'you']
['hello john, how', 'are', 'you']

In [41]:
# 35. splitlines()	Splits at line breaks
str = '''hello john, how are you \ncan you help me By giving \n100 rupees or more'''
print(str.splitlines())

['hello john, how are you ', 'can you help me By giving ', '100 rupees or more']

In [42]:
# strip()	Removes both leading and trailing whitespaces
name = '  john'.strip()
OthName = 'john  '.strip()
print(name,OthName)
if name == OthName:
    print('equal')
else:
    print('not equal')

name = ' john ' 
print(len(name))
name = name.strip()
print(len(name))

john john
equal
6
4

In [43]:
# rstrip()	Removes trailing whitespaces from right side
name = ' john  '  
print(len(name),end= ' ')
name = name.rstrip()
print(len(name),end= ' ')

# lstrip()	Removes trailing whitespaces from left side
name = ' john ' 
print(len(name),end= ' ')
name = name.lstrip()
print(len(name),end= ' ')

7 5 6 5

In [ ]:
# swapcase()	Swaps lowercase to uppercase and vice versa
str = '''Hello John, How are YOU'''
print(str.swapcase())

In [ ]:
# title()	Converts the first character of each word to uppercase
str = '''hello john, HOW are you'''
print(str.title())

In [44]:
# translate(table)	Translates characters using a translation table
Str = '''hello john, HOW are you'''
transi_table = str.maketrans('h','k','a')
print(Str.translate(transi_table))

kello jokn, HOW re you

In [45]:
# zfill(width)	Pads the string with zeros on the left
num = 'abc'
print(num.zfill(5))

00abc

In [ ]:

choice = input('enter your choice')

[4, 4, 6, 2, 4, 8, 2, 6, 6, 2]